<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduFeedback Analyzer</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS perso -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">🎓 EduFeedback</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Formulaire</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/responses">Réponses</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/pdf_graphique">
        📄 telechager le Rapport actuelle
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/rapport">
        📚 Rapport statistiques actuelle
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/explication">
        🤖  analyse semantique actuelle
    </a>
</li>

            </ul>
        </div>
    </div>
</nav>

<!-- CONTENU -->
<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<!-- FOOTER -->
<footer class="text-center mt-5 p-3 bg-light">
    <p>© 2026 - EduFeedback Analyzer | TP INF232 EC2</p>
</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>