{% extends "base.html" %}

{% block content %}
<style>
/* =========================
   FOND DASHBOARD BLEU FONCÉ
========================= */

body {
    background: linear-gradient(135deg, #133d0b);
}

/* conteneur principal */
.dashboard-page {
    min-height: 100vh;
    padding: 20px;
}

/* titres */
.dashboard-page h2,
.dashboard-page h5 {
    color: white;
    font-weight: bold;
}

/* cards style moderne */
.dashboard-page .card {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    border: none;
    transition: 0.3s;
}

.dashboard-page .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
</style>


<h2>📚 Rapport Statistique</h2>

<hr>

<p><b>Variance :</b> {{ variance }}</p>

<p><b>Covariance :</b> {{ covariance }}</p>

<p><b>Coefficient r :</b> {{ r }}</p>

<p><b>Coefficient R² :</b> {{ r2 }}</p>

<p><b>Droite :</b>
y = {{ a }}x + {{ b }}
</p>

{% endblock %}